@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'patrick-hand';
    src: url('./assets/fonts/PatrickHand-Regular.ttf');
}

@font-face {
    font-family: 'sniglet-regular';
    src: url('./assets/fonts/Sniglet-Regular.ttf');
}

@font-face {
    font-family: 'sniglet-bold';
    src: url('./assets/fonts/Sniglet-ExtraBold.ttf');
}